name: Generate Doxygen Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:  # 添加手动触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Documentation
        uses: mattnotmitt/doxygen-action@v1.9.5
        with:
          doxyfile-path: 'Doxyfile'
          working-directory: './docs'

      - name: Add .nojekyll file
        run: touch ./docs/html/.nojekyll

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/html
          publish_branch: gh-pages
          force_orphan: true